{% extends 'launcher/base.html' %}

{% block body %}
  <div class="container">
    <div class="row">
        <div class="col-md-6">
          <div class="card">
              <div class="card-body">
                <h5><div class="card-title text-center">Quals</div></h5>
                <div class="card-text">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Qualification</th>
                        <th scope="col">Expiry</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for qual in quals %}
                      <tr>
                        <th scope="row">{{ qual.id }}</th>
                        <td>{{ qual.qualName }}</td>
                        <td>{{ qual.expDate }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
          </div>
        </div>
    </div>
  </div>
{% endblock %}




