{% extends 'launcher/base.html' %}

{% block body %}

    <div class="d-flex align-items-center ms-3">
        <div class="card w-50 mt-3">
            <div class="card-header text-center">ACCOUNT SETTINGS</div>
                <div class="card-body">
                    <ul>
                        <li><a class="link-opacity-50-hover link-underline link-underline-opacity-0" href={% url 'edit' %}>Edit Profile</a></li>
                        <li><a class="link-opacity-50-hover link-underline link-underline-opacity-0" href={% url 'password_change' %}>Change Password</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
